.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background with transparency */
    backdrop-filter: blur(8px); /* Background blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensures it appears above other elements */
}

.modal-content {
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.demo-button{
    padding: 15px;
    border-radius: 2rem;
    background-color: orange;
    cursor: pointer;
}